
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.container{
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(255, 244, 231, 1);




}

/*sheard styles*/
 .display-flex{
  display: flex;
}

   /*dark2*/
    .text-gray{
      color: #424242;
    }

 /*dark03*/
    .text-light-gray{
      color: #727272;
    }
 /*background -color*/
   /*.bg-light{
    background-color:  rgba(255, 144, 14, 0.1);
  
  }*/
   
  

/*navbar related styles*/
.navber, .banner{
      justify-content:space-between;
      align-items: center;
      

}

.brand{

  font-size: 3rem;
  font-weight: 500;
  
}

.nav-links{
display:flex;
  
}

.nav-item{
  list-style: none;
  margin-right: 30px;

}

.nav-link{
  text-decoration:none;
  font-weight: 500;
}



.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 49px;
                
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-description{
  margin:20px;
}
.btn-primary{
  background: #FF900E;
  color: white;
  padding:20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border:none;
  border-radius: 8px;
}

.banner-image{
  width:100%;
}

main{
  max-width: 1440px;
  margin:0 auto;
}

main > section{
  margin-top: 130px;
}

/* teams and featuers relateds style*/
.teams{
  text-align: center;
  align-items: center;
}

.teams{
  max-width: 1000px;
  margin:130px auto;
}

.team-img-container img{
   
 width:300px;
 
}
.team-img-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap :24px;
}
.all-content-center{
  max-width: 1000px;
  margin:0 auto;

}

.our-features{
  
  margin-left: 70px;
  max-width:530px;
  text-align: left;
   
}

.section-title{
  font-weight: 700px;
  font-size: 2.8rem;
}

.figur{
  color:#FF900E;
}


/*facts related style*/
.facts-container{
display:grid;
gap:24px;
grid-template-columns: repeat(4,1fr);
}

/*features related start here */
.features-container{
  max-width:1000px;
  margin:0 auto;
  gap: 40px;
  
}



#features-section-title{
  border-left: 5px solid #FF900E;
  padding:20px

}

.feature-card{
  paddding:30px;
  box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  border-radius:8px;
  max-width:570px;
  margin-bottom: 20px;

}


.images1 img{
  width:500px;
  

}



.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
  
  
}

.Experience-badge{
  width:180px;
  height:100px;
  margin-top: -100px;
  margin-left: -30px;
   
}

#years{
  font-weight: 600px;
  font-size: 2rem;
}


/*features related end here */
.fact-card{
    border:#FF900E 1px solid;
    width:240px;
    height:240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
font-weight: 600;
font-size: 2.8rem;
margin-top:5px ;
margin-bottom: 10px;
}

.fact-name{
font-size: 1.25rem;
font-weight: 600;
margin-top: 10px;
}
.fact-discription{
max-width: 540px;
}



  /*sponsor related style*/

  .sponsor-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;
  }

  .sponsor-companies{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1000px;
    margin:0 auto;
    filter: grayscale(100%);
    margin-bottom: 50px;
  }  

  /*footer style*/
  .simple-footer{
    max-width:620px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
     
  }

  .simple-footer{
    max-width: 1000px;
    background-color:#FFF4E7 ;
    padding:15px;
    border-radius: 8px;
    font-size:1.24rem ;
  }

 

/*responsive media  quaries*/
@media screen and (max-width:576px) {
    .nabvar,
     .nav-links,
     .teams,
     .sponsor-companies,
     .features-container
     {

      flex-direction: column;
     }

    .our-features{
      margin-left:20px;
    }
   
    
   .team-img-container,
    .facts-container,
    .sponsor-companies,
    .features-container
    {
      grid-template-columns: 1fr;

      }
    .facts-container,
    .sponsor-companies{
      justify-items: center;

    }
    .sponsor-companies{
      gap:50px;
    }
    .images1 img{
      width:100%;
    }

    
  }


 
/*medium size screen*/

@media screen  and (min-width:576px) and (max-width:992px){
  .teams,.facts-container,
  .sponsor-companies,
  .features-container
  {
    flex-direction: column;
  }
  .our-features{
    margin:50px auto;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .all-content-center{
    justify-items: center;
  }
  .sponsor-companies{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap:28px;
  }

 
}
  
